# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build outputs
**/bin/
**/obj/

# NuGet
*.nupkg
*.snupkg

# Logs
*.log

# OS
Thumbs.db
.DS_Store

# Local settings artifacts (optional)
#*.local.settings.json
S7Explorer/connection_settings.json

# Azure Functions Core Tools
.azurefunctions/

